---
- name: Install Java and Mysql to Amazon Linux 2023
  hosts: ec2
  become: true
  vars:
    ansible_user_dir: /home/ec2-user
  
  tasks:
    # ---------------------------------------------------
    # OSアップデート
    # ---------------------------------------------------
    - name: Update all packages and refresh repositories
      ansible.builtin.dnf:
        name: "*" # Specifies all packages
        state: latest
        nobest: false
        update_cache: true

    # -------------------------------------------------------------------------------------
    # Install MySQL Community
    # -------------------------------------------------------------------------------------
    - name: Install MySQL Community
      command: >
        dnf -y install https://dev.mysql.com/get/mysql84-community-release-el9-1.noarch.rpm

    # ---------------------------------------------------
    # Install MySQL クライアント
    # ---------------------------------------------------
    - name: Install MySQL client
      ansible.builtin.dnf:
        name: mysql-community-client
        state: present

    # ---------------------------------------------------
    # Install Java 21 (Amazon Corretto)
    # ---------------------------------------------------
    - name: Ensure Java 21 is installed
      package:
        name: java-21-amazon-corretto-devel.x86_64
        state: present 

  # -----------------------------------------------------
  # Install Git
  # -----------------------------------------------------
    - name: Ensure Git is installed
      package:
        name: git
        state: present
        update_cache: yes

  # -------------------------------------------------------
  # Git Clone https://github.com/koujienami/aws-study.git
  # -------------------------------------------------------
    - name: git clone
      become: true
      become_user: ec2-user
      ansible.builtin.git:
        repo: https://github.com/koujienami/aws-study.git
        dest: '{{ ansible_user_dir }}/aws-study'