name: "terraform_CD"

on:
  push:
    branches:
      - main
      - sourceini
      #- test
    paths:
      - "*.tf"
      - "*.tftest.hcl"
      - ".github/workflows/*.yml"
      - "modules/**/*.tf"
      - "ansible/**"

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-northeast-1
  TF_VERSION: 1.13.5

defaults:
  run:
    shell: bash

jobs:
  terraform_CD:
    name: Terraform_CD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: Terraform format
        run: |
          terraform fmt -check
      - name: Configure AWS Credential
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}
      - name: Terraform init
        run: |
          terraform init -no-color
      - name: Terraform validate
        run: |
          terraform validate -no-color
      - name: Terraform apply
        id: apply
        run: |
          terraform apply \
            -input=false \
            -no-color \
            -auto-approve